.units {
  font-size: 17px;
  position: relative;
  top: -12px;
  font-weight: 100;
}

.units button {
  border: none;
  background: transparent;
  padding: 0;
  color: #38383fb7;
}
.current {
  font-weight: 900;
  color: #08080c;
}
