.Weather {
  text-align: center;
  margin: 10px auto;
  padding: 15px;

  background: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
  color: rgb(56, 56, 63);
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
}
.Weather h1 {
  font-weight: 500;
  font-size: 23px;
  margin: 0;
}
.Weather canvas {
  margin: 10px 0;
}
